*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/*PRIMERA SECCION (Header, hero)*/
.hero{
    background-color: #1F2937;
}

header{
    display: flex;
    justify-content: space-between;
    /*height: 50px;*/
    align-items: center;
    padding: 20px 100px;
}

.hero main{
    display: flex;
    padding: 100px;
}

.right_side{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5d636c;
    width: 1000px;
    color: #F9FAF8;
}

.left_side{
    padding-right: 60px;
}

.sign_up_btn{
    background-color: #3882F6;
    border: none;
    padding: 7px 30px;
    border-radius: 5px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero_main_text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header_links{
    display: flex;
    gap: 30px;
}
.hero_secondary_text, .header_links li, a{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero_logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

/*SEGUNDA SECCION (informacion)*/
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.information_ttl{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin: 50px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.card_img{
    border: solid 3px #3882F6;
    border-radius: 10px;
    width: 125px;
    height: 125px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    margin: 25px;
    color: #5d636c;
}
/*TERCERA SECCION (quote)*/
.quote{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 190px;
}

.quote em{
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.autor{
    align-self: flex-end;
    color: #1F2937;
    font-weight: 900;
}